
El objetivo de este notebook es ver cuantas veces coinciden las drugs y cell lines de DRUBCOMB-Cmaps

ueda por hacer: añadirle a los df mas cosas a filtered_sumarry y tmb el nombre en cmaps

## Drugcomb

In [21]:
import pandas as pd
cell_line = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\cell_Line_cui_cosmic_id_name_v2.csv')
drugs = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\drugs.csv')
responses = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\responses.csv')
studies = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\studies.csv')
summary = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\summary.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20204\3022875196.py:6: DtypeWarning: Columns (5,18) have mixed types. Specify dtype option on import or set low_memory=False.
  summary = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\summary.csv')

In [39]:
responses.head(10)

,conc_r,conc_c,inhibition,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,block_id
0,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,0.00,0.00,-0.000626,0.000000,0.000000,0.000000,0.000000,1
2,0.00,0.35,-1.993009,0.000000,0.000000,0.000000,0.000000,1
3,0.00,1.08,-0.957673,0.000000,0.000000,0.000000,0.000000,1
4,0.00,3.25,0.069628,0.000000,0.000000,0.000000,0.000000,1
5,0.00,10.00,1.138798,0.000000,0.000000,0.000000,0.000000,1
6,0.35,0.00,-1.753521,0.000000,0.000000,0.000000,0.000000,1
7,0.35,0.35,2.918487,51.011341,3.312873,4.672009,6.699966,1
8,0.35,1.08,-12.350610,0.747105,-12.303277,-11.392937,-9.622622,1
9,0.35,3.25,-4.343016,3.177265,-5.311421,-4.412644,-2.660344,1

In [22]:
cell_line.head(2)

,name,synonyms,cellosaurus_accession,disease_id,id,tissue_id,depmap_id,cell_model_passport_id,cosmic_id,ccle_name,expression_data,UMLS_CUI,Tumour_Location,cellosaurus_tumor_location
0,786-0,786-0; 786O; 786-0; 786.O; 786-O RCC; RCC 786-...,CVCL_1051,C9385,1,5.0,ACH-000649,SIDM00125,905947.0,786O_KIDNEY,BROAD_DepMap,NaN,Kidney (Carcinoma; Clear cell renal cell carci...,Renal cell carcinoma
1,A2058,A2058; A 2058; A-2058,CVCL_1059,C3802,2,10.0,ACH-000788,SIDM00797,906792.0,A2058_SKIN,BROAD_DepMap,C0206735,Skin (Malignant melanoma),Amelanotic melanoma

In [23]:
drugs.head(2)

,dname,id,chembl_id,inchikey,smiles,cid,molecular_formula,clinical_phase,cid_m,cid_s,stitch_name,drugbank_id,kegg_id,synonyms,target_name,target_type
0,NaN,0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,3385.0,C4H3FN2O2,4.0,CIDm00003385,CIDs00003385,5-fluorouracil,DB00544,D00584,5-Fluorouracil; fluorouracil; 51-21-8; 5-FU; F...,Prelamin-A/C; Survival motor neuron protein; T...,single protein; nucleic acid

In [24]:
print(summary.shape[0])
summary.head(2)

740148

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,ic50_col,ri_row,ri_col,css_row,css_col,css_ri,S_sum,quality,S_mean,S_max
0,0,0,0,0,conc_r_unit,conc_c_unit,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000,0.000,0.000,0.000,quality,0.000,0.000
1,1,1,2,2,uM,uM,3.865915,-2.951386,5.536903,6.256584,...,3.267734,11.471,-0.441,22.545,39.193,30.869,19.839,NaN,25.354,19.398

# CMAPS

In [25]:
##importamos todos los archivos
import pandas as pd
import gzip

# gene info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_gene_info_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    gene_info = pd.read_csv(f, sep='\t')

# cell info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_cell_info_2017-04-28.txt.gz"
with gzip.open(file_path, 'rt') as f:
    cell_info = pd.read_csv(f, sep='\t')

# pert info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_pert_info.txt.gz"
with gzip.open(file_path, 'rt') as f:
    pert_info = pd.read_csv(f, sep='\t')

# inst info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_inst_info_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    inst_info = pd.read_csv(f, sep='\t')

# sig info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_sig_info_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    sig_info = pd.read_csv(f, sep='\t')

# sig metrics 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_sig_metrics_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    sig_metrics = pd.read_csv(f, sep='\t')

In [26]:
cell_info.head(2)

,cell_id,cell_type,base_cell_id,precursor_cell_id,modification,sample_type,primary_site,subtype,original_growth_pattern,provider_catalog_id,original_source_vendor,donor_age,donor_sex,donor_ethnicity
0,A375,cell line,A375,-666,-666,tumor,skin,malignant melanoma,adherent,CRL-1619,ATCC,54,F,-666
1,A375.311,cell line,A375,A375,genetically modified to stably express Cas9 pr...,tumor,skin,malignant melanoma,adherent,CRL-1619,ATCC,54,F,-666

In [19]:
pert_info.head(2)

,pert_id,canonical_smiles,inchi_key,pert_iname,pert_type
0,BRD-K70792160,CCN(CC)CCCCN1c2ccccc2Oc2ccc(Cl)cc12,GYBXAGDWMCJZJK-UHFFFAOYSA-N,10-DEBC,trt_cp
1,BRD-K68552125,CCCCCCCCCCCCCC(=O)O[C@@H]1[C@@H](C)[C@]2(O)[C@...,PHEDXBVPIONUQT-RGYGYFBISA-N,phorbol-myristate-acetate,trt_cp

In [32]:
pert_info[pert_info["inchi_key"] == "ZBNZXTGUTAYRHI-UHFFFAOYSA-N"]

,pert_id,canonical_smiles,inchi_key,pert_iname,pert_type
458,BRD-K49328571,Cc1nc(Nc2ncc(s2)C(=O)Nc2c(C)cccc2Cl)cc(n1)N1CC...,ZBNZXTGUTAYRHI-UHFFFAOYSA-N,dasatinib,trt_cp

-----------

## Vemos el numero de combinaciones

**1) Filtramos por las drugs que se encuentren tanto en DRUGCOMB como en Cmaps**

In [33]:
# Obtener los cell_id únicos del primer DataFrame
cp_inchi = pert_info[pert_info["pert_type"] == "trt_cp"]["inchi_key"].unique()


# Filtrar el segundo DataFrame con los nombres que están en cell_info_ids
filtered_drugs = drugs[drugs["inchikey"].isin(cp_inchi)]

# Seleccionar solo las columnas que te interesan
selected_columns_drugs = filtered_drugs[['dname', 'id', 'chembl_id', 'inchikey', 'smiles','molecular_formula','drugbank_id','kegg_id']]

# Mostrar el resultado
print(selected_columns_drugs.shape[0])
selected_columns_drugs.head(2)

1334

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id
1,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,C4H3FN2O2,DB00544,D00584
2,Veliparib,2,CHEMBL506871,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,CC1(CCCN1)C2=NC3=C(C=CC=C3N2)C(=O)N,C13H16N4O,DB07232,D09692

añadimos el nombre de cmaps para luego filtrar

In [34]:
# Filtrar pert_info para quedarte solo con los que están en selected_columns_drugs
filtered_pert_info = pert_info[pert_info["inchi_key"].isin(selected_columns_drugs["inchikey"])]

# Eliminar duplicados para no duplicar filas al hacer merge
filtered_pert_info = filtered_pert_info[["inchi_key", "pert_iname"]].drop_duplicates()

# Hacer merge para añadir la columna 'pert_iname'
selected_columns_drugs = selected_columns_drugs.merge(filtered_pert_info, left_on="inchikey", right_on="inchi_key", how="left")

# Opcional: eliminar la columna duplicada 'inchi_key' si no la necesitas
selected_columns_drugs = selected_columns_drugs.drop(columns=["inchi_key"])
# Mostrar el resultado
print(selected_columns_drugs.shape[0])
selected_columns_drugs.head(10)

1334

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id,pert_iname
0,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,C4H3FN2O2,DB00544,D00584,fluorouracil
1,Veliparib,2,CHEMBL506871,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,CC1(CCCN1)C2=NC3=C(C=CC=C3N2)C(=O)N,C13H16N4O,DB07232,D09692,veliparib
2,MK-1775,3,CHEMBL1976040,BKWJAKQVGHWELA-UHFFFAOYSA-N,CC(C)(C1=NC(=CC=C1)N2C3=NC(=NC=C3C(=O)N2CC=C)N...,C27H32N8O2,DB11740,NaN,MK-1775
3,915019-65-7,4,CHEMBL1879463,JOGKUKXHTYWRGZ-UHFFFAOYSA-N,CC(C)(C#N)C1=CC=C(C=C1)N2C3=C4C=C(C=CC4=NC=C3N...,C30H23N5O,DB11651,D10552,NVP-BEZ235
4,Bortezomib,5,CHEMBL325041,GXJABQQUPOEUTA-RDJZCZTQSA-N,B(C(CC(C)C)NC(=O)C(CC1=CC=CC=C1)NC(=O)C2=NC=CN...,C19H25BN4O4,DB00188,D03150,bortezomib
5,Dasatinib,8,CHEMBL1421,ZBNZXTGUTAYRHI-UHFFFAOYSA-N,CC1=C(C(=CC=C1)Cl)NC(=O)C2=CN=C(S2)NC3=NC(=NC(...,C22H26ClN7O2S,DB01254,D03658,dasatinib
6,Dinaciclib,10,CHEMBL2103840,PIMQWRZWLQKKBJ-SFHVURJKSA-N,CCC1=C2N=C(C=C(N2N=C1)NCC3=C[N+](=CC=C3)[O-])N...,C21H28N6O2,DB12021,D09604,dinaciclib
7,doxorubicin,11,CHEMBL53463,AOJJSUZBOXZQNB-TZSSRYMLSA-N,CC1C(C(CC(O1)OC2CC(CC3=C(C4=C(C(=C23)O)C(=O)C5...,C27H29NO11,DB00997,D03899,doxorubicin
8,Erlotinib,12,CHEMBL553,AAKJLRGGTJKAMG-UHFFFAOYSA-N,COCCOC1=C(C=C2C(=C1)C(=NC=N2)NC3=CC=CC(=C3)C#C...,C22H23N3O4,DB00530,D07907,erlotinib
9,etoposide,13,CHEMBL44657,VJJPUSNTGOMMGY-MRVIYFEKSA-N,CC1OCC2C(O1)C(C(C(O2)OC3C4COC(=O)C4C(C5=CC6=C(...,C29H32O13,DB00773,D00125,etoposide

**2) Filtramos por las cell lines que se encuentren tanto en DRUGCOMB como en Cmaps**

In [35]:
# Obtener los cell_id únicos del primer DataFrame
cell_info_ids = cell_info[cell_info["cell_type"] == "cell line"]["cell_id"].unique()

# Filtrar el segundo DataFrame con los nombres que están en cell_info_ids
filtered_cell_line = cell_line[cell_line["name"].isin(cell_info_ids)]

# Seleccionar solo las columnas que te interesan
selected_columns_cell = filtered_cell_line[["name", "disease_id", "id", "Tumour_Location", "cellosaurus_tumor_location"]]

# Mostrar el resultado
print(selected_columns_cell.shape[0])
selected_columns_drugs.head(2)

20

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id,pert_iname
0,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,C4H3FN2O2,DB00544,D00584,fluorouracil
1,Veliparib,2,CHEMBL506871,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,CC1(CCCN1)C2=NC3=C(C=CC=C3N2)C(=O)N,C13H16N4O,DB07232,D09692,veliparib

**3) Vemos las combinaciones que hay con estas drogas y cell lines**

In [36]:
# Condición 1: cell_line_id está en selected_columns_cell["id"]

cell_line_filter = summary["cell_line_id"].isin(selected_columns_cell["id"])

# Condición 2: tanto drug_row_id como drug_col_id están en selected_columns_drugs["id"]
valid_drug_ids = selected_columns_drugs["id"]
drug_row_filter = summary["drug_row_id"].isin(valid_drug_ids)
drug_col_filter = summary["drug_col_id"].isin(valid_drug_ids)

# Aplicar ambas condiciones
filtered_summary = summary[cell_line_filter & drug_row_filter & drug_col_filter]

# Mostrar el resultado
filtered_summary

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,ic50_col,ri_row,ri_col,css_row,css_col,css_ri,S_sum,quality,S_mean,S_max
4641,4641,1,2,4,uM,uM,-1.832288,-26.978617,-8.166073,-4.944960,...,0.147262,4.246,-3.729,-3.261,37.649,17.1940,16.6770,NaN,16.9355,12.9480
4642,4642,1,2,4,uM,uM,-2.957436,-22.280242,-3.467698,-0.246585,...,0.147262,4.246,-3.729,1.001,36.097,18.5490,18.0320,NaN,18.2905,14.3030
4643,4643,1,2,4,uM,uM,2.972301,-14.698492,4.114052,7.335165,...,0.147262,4.246,-3.729,3.862,41.172,22.5170,22.0000,NaN,22.2585,18.2710
4644,4644,1,2,4,uM,uM,1.221792,-19.843117,-1.030573,2.190540,...,0.147262,4.246,-3.729,2.664,38.662,20.6630,20.1460,NaN,20.4045,16.4170
4645,4645,1,3,4,uM,uM,2.612379,-2.542583,5.443890,2.058551,...,0.275257,4.246,22.135,59.882,60.151,60.0165,33.6355,NaN,46.8260,37.8815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431726,431640,88,5,28,uM,uM,1.894596,5.360176,3.566226,4.395462,...,0.002267,29.019,-2.490,29.398,47.248,38.3230,11.7940,NaN,25.0585,9.3040
432472,432386,72,1,38,uM,uM,0.799656,5.414422,6.211970,1.212909,...,4.936349,5.994,31.568,29.698,43.541,36.6195,-0.9425,NaN,17.8385,5.0515
432478,432392,72,1,21,uM,uM,-1.387775,-9.146903,-1.410753,-4.189228,...,4.046097,2.044,59.005,8.880,54.110,31.4950,-29.5540,NaN,0.9705,-27.5100
432482,432396,72,1,28,uM,uM,-12.219127,-10.703212,-9.017586,-14.760392,...,3.704756,10.570,52.846,23.649,65.246,44.4475,-18.9685,NaN,12.7395,-8.3985
432486,432400,72,1,7,uM,uM,-1.985254,3.875096,6.250211,-2.165131,...,3.958491,22.807,52.608,55.039,61.324,58.1815,-17.2335,NaN,20.4740,5.5735

Paso 1 : Merge con selected_columns_drugs (para drug_row_id y drug_col_id)

luego le metes el resto de columnas es para ver que se queda igual

In [37]:
# Merge para drug_row_id
filtered_summary = filtered_summary.merge(
    #['dname', 'id', 'chembl_id', 'inchikey', 'smiles','molecular_formula','drugbank_id','kegg_id']
    selected_columns_drugs[['dname', 'id', 'chembl_id', 'inchikey', 'smiles','molecular_formula','drugbank_id','kegg_id','pert_iname']],
    left_on="drug_row_id",
    right_on="id",
    how="left"
).rename(columns={"dname": "dname_row", "inchikey": "inchikey_row","chembl_id":"chembl_id_row","inchikey":"inchikey_row", "smiles" : "smiles_row","molecular_formula":"molecular_formula_row","drugbank_id":"drugbank_id_row","kegg_id":"kegg_id_row","pert_iname":"cmaps_name_row"}).drop(columns=["id"])

# Merge para drug_col_id
filtered_summary = filtered_summary.merge(
    selected_columns_drugs[['dname', 'id', 'chembl_id', 'inchikey', 'smiles','molecular_formula','drugbank_id','kegg_id','pert_iname']],
    left_on="drug_col_id",
    right_on="id",
    how="left"
).rename(columns={"dname": "dname_col", "inchikey": "inchikey_col","chembl_id":"chembl_id_col","inchikey":"inchikey_col", "smiles" : "smiles_col","molecular_formula":"molecular_formula_col","drugbank_id":"drugbank_id_col","kegg_id":"kegg_id_col","pert_iname":"cmaps_name_col"}).drop(columns=["id"])

Paso 2: Merge con selected_columns_cell (para cell_line_id)

In [ ]:
filtered_summary = filtered_summary.merge(
    #["name", "disease_id", "id", "Tumour_Location", "cellosaurus_tumor_location"]
    selected_columns_cell[["name", "disease_id", "id", "Tumour_Location", "cellosaurus_tumor_location"]],
    left_on="cell_line_id",
    right_on="id",
    how="left"
).rename(columns={
    "name": "cell_line_name",
    "disease_id": "cell_disease_id",
    "cellosaurus_tumor_location": "tumor_location_cellosaurus",
    "Tumour_Location" : "tumor_location_cosmic"
    
}).drop(columns=["id"])

In [12]:
print(filtered_summary.shape[0])
filtered_summary.head(5) ## este es el filtered summary con todas las condiciones que queremos

8338

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,ic50_col,ri_row,ri_col,css_row,css_col,css_ri,S_sum,quality,S_mean,S_max
4641,4641,1,2,4,uM,uM,-1.832288,-26.978617,-8.166073,-4.944960,...,0.147262,4.246,-3.729,-3.261,37.649,17.1940,16.6770,NaN,16.9355,12.9480
4642,4642,1,2,4,uM,uM,-2.957436,-22.280242,-3.467698,-0.246585,...,0.147262,4.246,-3.729,1.001,36.097,18.5490,18.0320,NaN,18.2905,14.3030
4643,4643,1,2,4,uM,uM,2.972301,-14.698492,4.114052,7.335165,...,0.147262,4.246,-3.729,3.862,41.172,22.5170,22.0000,NaN,22.2585,18.2710
4644,4644,1,2,4,uM,uM,1.221792,-19.843117,-1.030573,2.190540,...,0.147262,4.246,-3.729,2.664,38.662,20.6630,20.1460,NaN,20.4045,16.4170
4645,4645,1,3,4,uM,uM,2.612379,-2.542583,5.443890,2.058551,...,0.275257,4.246,22.135,59.882,60.151,60.0165,33.6355,NaN,46.8260,37.8815

there are a lot of duplicates (here we can see 1 and 2)

In [23]:
# drop duplicates of same drug col row and cell line combination
filtered_summary_no_duplicates = filtered_summary.drop_duplicates(subset=['drug_row_id', 'drug_col_id', 'cell_line_id'], keep='first')

# Show the df wihout duplicates
print(filtered_summary_no_duplicates.shape[0])
filtered_summary_no_duplicates.head(5) ## este es el filtered summary con todas las condiciones que queremos

4095

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,inchikey_col,smiles_col,molecular_formula_col,drugbank_id_col,kegg_id_col,cmaps_name_col,cell_line_name,cell_disease_id,tumor_location_cosmic,tumor_location_cellosaurus
0,4641,1,2,4,uM,uM,-1.832288,-26.978617,-8.166073,-4.944960,...,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,CC1(CCCN1)C2=NC3=C(C=CC=C3N2)C(=O)N,C13H16N4O,DB07232,D09692,veliparib,A375,C3802,Skin (Malignant melanoma),Amelanotic melanoma
4,4645,1,3,4,uM,uM,2.612379,-2.542583,5.443890,2.058551,...,BKWJAKQVGHWELA-UHFFFAOYSA-N,CC(C)(C1=NC(=CC=C1)N2C3=NC(=NC=C3C(=O)N2CC=C)N...,C27H32N8O2,DB11740,NaN,MK-1775,A375,C3802,Skin (Malignant melanoma),Amelanotic melanoma
8,4649,1,4,4,uM,uM,3.866124,0.871119,6.244486,2.778483,...,JOGKUKXHTYWRGZ-UHFFFAOYSA-N,CC(C)(C#N)C1=CC=C(C=C1)N2C3=C4C=C(C=CC4=NC=C3N...,C30H23N5O,DB11651,D10552,NVP-BEZ235,A375,C3802,Skin (Malignant melanoma),Amelanotic melanoma
12,4653,1,5,4,uM,uM,0.589177,-16.482204,-4.214315,-4.724869,...,GXJABQQUPOEUTA-RDJZCZTQSA-N,B(C(CC(C)C)NC(=O)C(CC1=CC=CC=C1)NC(=O)C2=NC=CN...,C19H25BN4O4,DB00188,D03150,bortezomib,A375,C3802,Skin (Malignant melanoma),Amelanotic melanoma
16,4657,1,8,4,uM,uM,-0.756504,-5.749643,0.124410,-3.229846,...,ZBNZXTGUTAYRHI-UHFFFAOYSA-N,CC1=C(C(=CC=C1)Cl)NC(=O)C2=CN=C(S2)NC3=NC(=NC(...,C22H26ClN7O2S,DB01254,D03658,dasatinib,A375,C3802,Skin (Malignant melanoma),Amelanotic melanoma

**4) Ahora vemos las cell lines que estan en las combinaciones**

In [16]:
unique_cell_line_ids = filtered_summary["cell_line_id"].unique()
cell_lines_used = selected_columns_cell[selected_columns_cell["id"].isin(unique_cell_line_ids)]
print(cell_lines_used.shape[0])
cell_lines_used

9

,name,disease_id,id,Tumour_Location,cellosaurus_tumor_location
3,A375,C3802,4,Skin (Malignant melanoma),Amelanotic melanoma
6,A549,C3512,7,Lung (Carcinoma),Lung adenocarcinoma
20,HCT116,C4910,21,Large intestine; Colon (Carcinoma),Colon carcinoma
27,HT29,C4349,28,Large intestine; Colon (Carcinoma),Colon adenocarcinoma
32,LNCAP,C4863,33,No COSMIC ID,Prostate carcinoma
33,LOVO,C4349,34,Large intestine; Colon (Carcinoma; Adenocarcin...,Colon adenocarcinoma
37,MCF7,C4194,38,Breast (Carcinoma),Invasive breast carcinoma of no special type
61,RKO,C4910,62,Large intestine; Colon (Carcinoma),Colon carcinoma
88,VCAP,C4863,89,Not Found,Prostate carcinoma

**5) Ahora vemos las drugs que estan en las combinaciones**

In [17]:
# Unir todos los IDs de drogas en una sola Serie
all_drug_ids = pd.concat([
    filtered_summary["drug_row_id"],
    filtered_summary["drug_col_id"]
]).unique()

In [18]:
unique_drugs_used = selected_columns_drugs[selected_columns_drugs["id"].isin(all_drug_ids)]
unique_drugs_used = unique_drugs_used.sort_values("dname").reset_index(drop=True)

In [19]:
print(unique_drugs_used.shape[0])
unique_drugs_used.head(2)

49

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id,pert_iname
0,391210-10-9,26,CHEMBL507361,SUDAHWBOROXANE-SECBINFHSA-N,C1=CC(=C(C=C1I)F)NC2=C(C=CC(=C2F)F)C(=O)NOCC(CO)O,C16H14F3IN2O4,DB07101,NaN,PD-0325901
1,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,C4H3FN2O2,DB00544,D00584,fluorouracil

In [24]:
unique_drugs_used.to_csv(r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\drugs_cmaps_drugcomb.csv", index=False)
cell_lines_used.to_csv(r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\cell_lines_cmaps_drugcomb.csv", index=False)
filtered_summary_no_duplicates.to_csv(r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\combinations_cmaps_drugcomb.csv", index=False)

In [ ]:
## tenemos que comprobar que de cada drugs - cell lines hay informacion de las firmas genicas en cmaps