
El objetivo de este notebook es ver cuantas veces coinciden las drugs y cell lines de DRUBCOMB-Cmaps

ueda por hacer: a√±adirle a los df mas cosas a filtered_sumarry y tmb el nombre en cmaps

## Drugcomb

In [1]:
import pandas as pd
cell_line = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\cell_Line_cui_cosmic_id_name_v2.csv')
drugs = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\drugs.csv')
responses = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\responses.csv')
studies = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\studies.csv')
summary = pd.read_csv(r'C:\Users\Usuario\Desktop\TFM\datos\drugcomb_v2\summary.csv')

In [10]:
cell_line.head(2)

,name,synonyms,cellosaurus_accession,disease_id,id,tissue_id,depmap_id,cell_model_passport_id,cosmic_id,ccle_name,expression_data,UMLS_CUI,Tumour_Location,cellosaurus_tumor_location
0,786-0,786-0; 786O; 786-0; 786.O; 786-O RCC; RCC 786-...,CVCL_1051,C9385,1,5.0,ACH-000649,SIDM00125,905947.0,786O_KIDNEY,BROAD_DepMap,NaN,Kidney (Carcinoma; Clear cell renal cell carci...,Renal cell carcinoma
1,A2058,A2058; A 2058; A-2058,CVCL_1059,C3802,2,10.0,ACH-000788,SIDM00797,906792.0,A2058_SKIN,BROAD_DepMap,C0206735,Skin (Malignant melanoma),Amelanotic melanoma

In [9]:
drugs.head(2)

,dname,id,chembl_id,inchikey,smiles,cid,molecular_formula,clinical_phase,cid_m,cid_s,stitch_name,drugbank_id,kegg_id,synonyms,target_name,target_type
0,NaN,0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,3385.0,C4H3FN2O2,4.0,CIDm00003385,CIDs00003385,5-fluorouracil,DB00544,D00584,5-Fluorouracil; fluorouracil; 51-21-8; 5-FU; F...,Prelamin-A/C; Survival motor neuron protein; T...,single protein; nucleic acid

In [31]:
print(summary.shape[0])
summary.head(2)

740148

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,ic50_col,ri_row,ri_col,css_row,css_col,css_ri,S_sum,quality,S_mean,S_max
0,0,0,0,0,conc_r_unit,conc_c_unit,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000,0.000,0.000,0.000,0.000,quality,0.000,0.000
1,1,1,2,2,uM,uM,3.865915,-2.951386,5.536903,6.256584,...,3.267734,11.471,-0.441,22.545,39.193,30.869,19.839,NaN,25.354,19.398

# CMAPS

In [3]:
##importamos todos los archivos
import pandas as pd
import gzip

# gene info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_gene_info_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    gene_info = pd.read_csv(f, sep='\t')

# cell info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_cell_info_2017-04-28.txt.gz"
with gzip.open(file_path, 'rt') as f:
    cell_info = pd.read_csv(f, sep='\t')

# pert info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_pert_info.txt.gz"
with gzip.open(file_path, 'rt') as f:
    pert_info = pd.read_csv(f, sep='\t')

# inst info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_inst_info_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    inst_info = pd.read_csv(f, sep='\t')

# sig info 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_sig_info_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    sig_info = pd.read_csv(f, sep='\t')

# sig metrics 
file_path = r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\GSE70138_Broad_LINCS_sig_metrics_2017-03-06.txt.gz"
with gzip.open(file_path, 'rt') as f:
    sig_metrics = pd.read_csv(f, sep='\t')

In [6]:
cell_info.head(2)

,cell_id,cell_type,base_cell_id,precursor_cell_id,modification,sample_type,primary_site,subtype,original_growth_pattern,provider_catalog_id,original_source_vendor,donor_age,donor_sex,donor_ethnicity
0,A375,cell line,A375,-666,-666,tumor,skin,malignant melanoma,adherent,CRL-1619,ATCC,54,F,-666
1,A375.311,cell line,A375,A375,genetically modified to stably express Cas9 pr...,tumor,skin,malignant melanoma,adherent,CRL-1619,ATCC,54,F,-666

In [7]:
pert_info.head(2)

,pert_id,canonical_smiles,inchi_key,pert_iname,pert_type
0,BRD-K70792160,CCN(CC)CCCCN1c2ccccc2Oc2ccc(Cl)cc12,GYBXAGDWMCJZJK-UHFFFAOYSA-N,10-DEBC,trt_cp
1,BRD-K68552125,CCCCCCCCCCCCCC(=O)O[C@@H]1[C@@H](C)[C@]2(O)[C@...,PHEDXBVPIONUQT-RGYGYFBISA-N,phorbol-myristate-acetate,trt_cp

-----------

## Vemos el numero de combinaciones

**1) Filtramos por las drugs que se encuentren tanto en DRUGCOMB como en Cmaps**

In [38]:
# Obtener los cell_id √∫nicos del primer DataFrame
cp_inchi = pert_info[pert_info["pert_type"] == "trt_cp"]["inchi_key"].unique()


# Filtrar el segundo DataFrame con los nombres que est√°n en cell_info_ids
filtered_drugs = drugs[drugs["inchikey"].isin(cp_inchi)]

# Seleccionar solo las columnas que te interesan
selected_columns_drugs = filtered_drugs[['dname', 'id', 'chembl_id', 'inchikey', 'smiles','molecular_formula','drugbank_id','kegg_id']]

# Mostrar el resultado
print(selected_columns_drugs.shape[0])
selected_columns_drugs.head(2)

1334

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id
1,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,C4H3FN2O2,DB00544,D00584
2,Veliparib,2,CHEMBL506871,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,CC1(CCCN1)C2=NC3=C(C=CC=C3N2)C(=O)N,C13H16N4O,DB07232,D09692

**2) Filtramos por las cell lines que se encuentren tanto en DRUGCOMB como en Cmaps**

In [47]:
# Obtener los cell_id √∫nicos del primer DataFrame
cell_info_ids = cell_info[cell_info["cell_type"] == "cell line"]["cell_id"].unique()

# Filtrar el segundo DataFrame con los nombres que est√°n en cell_info_ids
filtered_cell_line = cell_line[cell_line["name"].isin(cell_info_ids)]

# Seleccionar solo las columnas que te interesan
selected_columns_cell = filtered_cell_line[["name", "disease_id", "id", "Tumour_Location", "cellosaurus_tumor_location"]]

# Mostrar el resultado
print(selected_columns_cell.shape[0])
selected_columns_drugs.head(2)

20

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id
0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,5-Fluorouracil,1,CHEMBL185,GHASVSINZRGABV-UHFFFAOYSA-N,C1=C(C(=O)NC(=O)N1)F,C4H3FN2O2,DB00544,D00584

**3) Vemos las combinaciones que hay con estas drogas y cell lines**

In [58]:
# Condici√≥n 1: cell_line_id est√° en selected_columns_cell["id"]

cell_line_filter = summary["cell_line_id"].isin(selected_columns_cell["id"])

# Condici√≥n 2: tanto drug_row_id como drug_col_id est√°n en selected_columns_drugs["id"]
valid_drug_ids = selected_columns_drugs["id"]
drug_row_filter = summary["drug_row_id"].isin(valid_drug_ids)
drug_col_filter = summary["drug_col_id"].isin(valid_drug_ids)

# Aplicar ambas condiciones
filtered_summary = summary[cell_line_filter & drug_row_filter & drug_col_filter]

# Mostrar el resultado
filtered_summary

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,ic50_col,ri_row,ri_col,css_row,css_col,css_ri,S_sum,quality,S_mean,S_max
4641,4641,1,2,4,uM,uM,-1.832288,-26.978617,-8.166073,-4.944960,...,0.147262,4.246,-3.729,-3.261,37.649,17.1940,16.6770,NaN,16.9355,12.9480
4642,4642,1,2,4,uM,uM,-2.957436,-22.280242,-3.467698,-0.246585,...,0.147262,4.246,-3.729,1.001,36.097,18.5490,18.0320,NaN,18.2905,14.3030
4643,4643,1,2,4,uM,uM,2.972301,-14.698492,4.114052,7.335165,...,0.147262,4.246,-3.729,3.862,41.172,22.5170,22.0000,NaN,22.2585,18.2710
4644,4644,1,2,4,uM,uM,1.221792,-19.843117,-1.030573,2.190540,...,0.147262,4.246,-3.729,2.664,38.662,20.6630,20.1460,NaN,20.4045,16.4170
4645,4645,1,3,4,uM,uM,2.612379,-2.542583,5.443890,2.058551,...,0.275257,4.246,22.135,59.882,60.151,60.0165,33.6355,NaN,46.8260,37.8815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740143,739996,1421,0,7,uM,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.944,0.000,0.000,0.000,10.9440,0.0000,NaN,5.4720,0.0000
740144,739997,4527,0,7,uM,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.429,0.000,0.000,0.000,0.4290,0.0000,NaN,0.2145,0.0000
740145,739998,1213,0,7,uM,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,9.648,0.000,0.000,0.000,9.6480,0.0000,NaN,4.8240,0.0000
740146,739999,1287,0,7,uM,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,-14.193,0.000,0.000,0.000,-14.1930,0.0000,NaN,-7.0965,-14.1930
740147,740000,4308,0,7,uM,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,-5.775,0.000,0.000,0.000,-5.7750,0.0000,NaN,-2.8875,-5.7750

Paso 1 : Merge con selected_columns_drugs (para drug_row_id y drug_col_id)

luego le metes el resto de columnas es para ver que se queda igual

In [59]:
# Merge para drug_row_id
filtered_summary = filtered_summary.merge(
    selected_columns_drugs[["id", "dname", "inchikey"]],
    left_on="drug_row_id",
    right_on="id",
    how="left"
).rename(columns={"dname": "dname_row", "inchikey": "inchikey_row"}).drop(columns=["id"])

# Merge para drug_col_id
filtered_summary = filtered_summary.merge(
    selected_columns_drugs[["id", "dname", "inchikey"]],
    left_on="drug_col_id",
    right_on="id",
    how="left"
).rename(columns={"dname": "dname_col", "inchikey": "inchikey_col"}).drop(columns=["id"])

Paso 2: Merge con selected_columns_cell (para cell_line_id)

In [60]:
filtered_summary = filtered_summary.merge(
    selected_columns_cell[["id", "name", "disease_id", "cellosaurus_tumor_location"]],
    left_on="cell_line_id",
    right_on="id",
    how="left"
).rename(columns={
    "name": "cell_line_name",
    "disease_id": "cell_disease_id",
    "cellosaurus_tumor_location": "tumor_location"
}).drop(columns=["id"])

In [61]:
print(filtered_summary.shape[0])
filtered_summary.head(2) ## este es el filtered summary con todas las condiciones que queremos

42397

,block_id,drug_row_id,drug_col_id,cell_line_id,conc_r_unit,conc_c_unit,synergy_zip,synergy_loewe,synergy_hsa,synergy_bliss,...,quality,S_mean,S_max,dname_row,inchikey_row,dname_col,inchikey_col,cell_line_name,cell_disease_id,tumor_location
0,4641,1,2,4,uM,uM,-1.832288,-26.978617,-8.166073,-4.944960,...,NaN,16.9355,12.948,5-Fluorouracil,GHASVSINZRGABV-UHFFFAOYSA-N,Veliparib,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,A375,C3802,Amelanotic melanoma
1,4642,1,2,4,uM,uM,-2.957436,-22.280242,-3.467698,-0.246585,...,NaN,18.2905,14.303,5-Fluorouracil,GHASVSINZRGABV-UHFFFAOYSA-N,Veliparib,JNAHVYVRKWKWKQ-CYBMUJFWSA-N,A375,C3802,Amelanotic melanoma

**4) Ahora vemos las cell lines que estan en las combinaciones**

In [57]:
unique_cell_line_ids = filtered_summary["cell_line_id"].unique()
cell_lines_used = selected_columns_cell[selected_columns_cell["id"].isin(unique_cell_line_ids)]
print(cell_lines_used.shape[0])
cell_lines_used

18

,name,disease_id,id,Tumour_Location,cellosaurus_tumor_location
3,A375,C3802,4,Skin (Malignant melanoma),Amelanotic melanoma
6,A549,C3512,7,Lung (Carcinoma),Lung adenocarcinoma
20,HCT116,C4910,21,Large intestine; Colon (Carcinoma),Colon carcinoma
27,HT29,C4349,28,Large intestine; Colon (Carcinoma),Colon adenocarcinoma
32,LNCAP,C4863,33,No COSMIC ID,Prostate carcinoma
33,LOVO,C4349,34,Large intestine; Colon (Carcinoma; Adenocarcin...,Colon adenocarcinoma
37,MCF7,C4194,38,Breast (Carcinoma),Invasive breast carcinoma of no special type
61,RKO,C4910,62,Large intestine; Colon (Carcinoma),Colon carcinoma
88,VCAP,C4863,89,Not Found,Prostate carcinoma
156,AGS,C4004,157,Stomach (Carcinoma; Adenocarcinoma),Gastric adenocarcinoma
479,HCC15,C3493,480,Not Found,Lung squamous cell carcinoma
635,HT115,C4910,636,Not Found,Colon carcinoma
899,MDST8,C4910,900,Not Found,Colon carcinoma
1203,OV7,C4908,1204,Not Found,Ovarian carcinoma
1498,SW480,C4349,1499,No COSMIC ID,Colon adenocarcinoma
1507,SW948,C4349,1508,Large intestine; Colon (Carcinoma; Adenocarcin...,Colon adenocarcinoma
1578,U2OS,C9145,1579,Bone; Tibia (Osteosarcoma),Osteosarcoma
1623,YAPC,C3850,1624,Pancreas (Carcinoma; Ductal carcinoma),Pancreatic carcinoma

**5) Ahora vemos las drugs que estan en las combinaciones**

In [64]:
# Unir todos los IDs de drogas en una sola Serie
all_drug_ids = pd.concat([
    filtered_summary["drug_row_id"],
    filtered_summary["drug_col_id"]
]).unique()

In [65]:
unique_drugs_used = selected_columns_drugs[selected_columns_drugs["id"].isin(all_drug_ids)]
unique_drugs_used = unique_drugs_used.sort_values("dname").reset_index(drop=True)

In [67]:
print(unique_drugs_used.shape[0])
unique_drugs_used.head(2)

767

,dname,id,chembl_id,inchikey,smiles,molecular_formula,drugbank_id,kegg_id,pert_iname
0,(-)-Epigallocatechin gallate,2057,CHEMBL297453,WMBWREPUVVBILR-WIYYLYMNSA-N,C1C(C(OC2=CC(=CC(=C21)O)O)C3=CC(=C(C(=C3)O)O)O...,C22H18O11,DB12116,C09731,NaN
1,(-)-Rapamycin,102,CHEMBL413,QFJCIRLUMZQUOT-HPLJOQBZSA-N,CC1CCC2CC(C(=CC=CC=CC(CC(C(=O)C(C(C(=CC(C(=O)C...,C51H79NO13,DB00877,D00753,NaN

In [69]:
unique_drugs_used.to_csv(r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\drugs_cmaps_drugcomb.csv", index=False)
cell_lines_used.to_csv(r"C:\Users\Usuario\Desktop\TFM\datos\CLUE_data\CMAPS\cell_lines_cmaps_drugcomb.csv", index=False)